# Python
__pycache__/
.Python
.venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Data and logs
logs/
*.log
/data/vector_store/
.docx

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store